*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(/src/assets/images/fond0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
  }

.parent_div{
    height: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative_parent{
    padding: 0;
    position: relative;
    height: 1vw;
}

.button_child_bh {
    padding-right: 3%;
    font-size: 0.7rem;
    position: absolute;
    top: 2770%; 
    left: 77.5%;
    transform: translate(-50%, -50%);
    opacity: 0%;
}

.button_child_cv {
    padding-right: 5%;
    font-size: 0.7rem;
    position: absolute;
    top: 3110%; 
    left: 77%;
    transform: translate(-50%, -50%);
    opacity: 0%;
}

.bg_img{
    width: 80%;
    height: auto;
    margin: 5% auto auto auto;
}

.video_child1{
    height: auto;
    width: 18%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 2255%;
    right: 14.8%; 
}

.video_child2{
    height: auto;
    width: 27.4%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 1990%;
    right: 11.3%; 
}

.video_child3{
    height: auto;
    width: 19.8%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 2345%;
    right: 24.4%; 
}

.date{
    color: white;
    padding-right: 3%;
    font-size: 0.7rem;
    position: absolute;
    top: 750%;
    left: 98.4%;
    transform: translate(-50%, -50%);
    opacity: 100%;
    font-size: 70%;
    
}

.hour{
    color: white;
    padding-right: 3%;
    font-size: 0.7rem;
    position: absolute;
    top: 680%;
    left: 98.4%;
    transform: translate(-50%, -50%);
    opacity: 100%;
    font-size: 70%;
    
}


.parent_taskbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar{
    width: 100%;
    height: auto;
    margin: 5% auto auto auto;
}

.margin_intro{
    margin: 2% auto auto auto;
}


